.about-programms {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-bottom: 47px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }

  .about-programms__wrapper {
    padding: 0 20px;

    @media (min-width: $tablet-width) {
      padding: 0 30px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 110px;
    }
  }

  .about-programms__title {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      margin-bottom: 32px;
      font-size: 60px;
      line-height: 1;
    }
  }

  .about-programms__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-right: 75px;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      justify-content: space-between;
      padding-right: 0;
    }
  }

  .about-programms__item {
    position: relative;
    margin-bottom: 20px;
    min-height: 60px;

    &::after {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      background-color: $basic-green;
      left: 0;
      top: 0;

      @media (min-width: $tablet-width) {
        width: 80px;
        height: 80px;
        top: 50px;
      }
    }

    @media (min-width: $tablet-width) {
      width: 250px;
      margin-bottom: 37px;
      padding-top: 150px;
      padding-bottom: 57px;

      &--first {
        background-image: url("../img/one.png");
        background-repeat: no-repeat;
        background-position: 130px 50px;
      }

      &--second {
        background-image: url("../img/two.png");
        background-repeat: no-repeat;
        background-position: 130px 50px;
      }

      &--third {
        background-image: url("../img/three.png");
        background-repeat: no-repeat;
        background-position: 130px 50px;
      }

      &--fourth {
        background-image: url("../img/four.png");
        background-repeat: no-repeat;
        background-position: 130px 50px;
      }
    }
  }

  .about-programms__item--first {
    &::after {
      background-image: url("../img/leaf.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .about-programms__item--second {
    &::after {
      background-image: url("../img/tub.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .about-programms__item--third {
    &::after {
      background-image: url("../img/eat.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .about-programms__item--fourth {
    &::after {
      background-image: url("../img/alarm.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .about-programms__description {
    padding-left: 80px;


    @media (min-width: $tablet-width) {
      padding-left: 0;
    }
  }
}
