.catalog-promo {
  padding: 35px 20px;

  .catalog-promo__wrapper {
    padding: 0 20px;
    padding-top: 186px;
    padding-bottom: 44px;
    background-image: url("../img/cat-promo-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
  }

  .catalog-promo__link {
    display: block;
  }

  .catalog-promo__description {
    font-size: 16px;
    line-height: 20px;
    color: $basic-white;
    width: 160px;
    margin: 0 auto;
  }
}
