.page-footer {
  position: relative;
  padding-top: 26px;
  background-color: $basic-grey;

  .page-footer__contacts {
    &--white-bg {
      background-color: $basic-white;
    }
  }

  .page-footer__wrapper {
    padding: 0 20px;

    @media (min-width: $tablet-width) {
      padding: 0 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    @media (min-width: $desktop-width) {
      padding: 0 110px;
    }
  }

  .page-footer__logo {
    display: block;
    margin-top: 39px;
    margin-bottom: 32px;
    text-align: center;

    @media (min-width: $tablet-width) {
      padding-bottom: 0;
    }
  }

  .page-footer__social {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  .page-footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 22px;

    @media (min-width: $tablet-width) {
      padding: 0;
      width: 165px;
    }
  }

  iframe {
    display: block;
    width: 100%;
    height: 400px;
  }
}
