.page-header {
  .page-header__wrapper {
    min-height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      align-items: center;
      padding: 0 30px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 30px;
    }
  }
}
