.programms {
  .programms__wrapper {
    padding: 0 20px;
  }

  .programms__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .programms__item {
    background-color: $basic-grey;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 22px;

    @media (min-width: $tablet-width) {
      text-align: left;
      padding-left: 50px;
      padding-right: 380px;
    }

    @media (min-width: $desktop-width) {
      width: 50%;
      margin-right: 80px;
      padding-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    .programms__description {
      padding-right: 120px;
    }
  }

  .programms__title {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    line-height: 37px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 29px;

    @media (min-width: $tablet-width) {
      text-align: left;
    }

    @media (min-width: $desktop-width) {
      text-align: center;
    }
  }

  .programms__link {
    display: inline-block;
    vertical-align: inherit;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: inherit;
    text-transform: uppercase;
  }
}
