.promo {
  background-image: url("../img/index-background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% top;
  padding-top: 27px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    background: none;
    min-height: 720px;
  }

  .promo__wrapper {
    position: relative;
    padding: 0 20px;

    @media (min-width: $tablet-width) {
      padding-right: 220px;
      padding-left: 80px;
    }
  }

  .main-title {
    color: $basic-white;
    text-align: center;

    @media (min-width: $tablet-width) {
      color: $basic-black;
      text-align: left;
      width: 430px;
    }
  }

  .promo__slogan {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: $basic-white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 29px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
      color: $basic-black;
      text-align: left;
    }
  }

  img {
    display: block;
    margin: 0 auto;
  }

  .button {
    width: 100%;
    margin: 0 auto;
    margin-top: 3px;

    @media (min-width: $tablet-width) {
      width: auto;
    }
  }
}
