.slider {
  align-self: flex-end;

  .slider__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  img {
    display: block;
    margin: 0 auto;
  }


  .slider__item--skinny {
    display: none;
  }

  .slider__buttons {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top: 15px;
  }

  .slider__button-progress {
    position: relative;
    width: 86px;
    height: 14px;
    background-color: $basic-white;
    border-radius: 6px;

    @media (min-width: $tablet-width) {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      margin: auto;
      top: -15px;
    }
  }

  .slider__button {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      &--line {
        width: 426px;
        height: 6px;
        border-radius: 6px;
        background-color: #dcdcdc;
      }
    }
  }

  .slider__button-progress-small {
    position: absolute;
    top: 4px;
    left: 5px;
    width: 35px;
    height: 6px;
    background-color: $basic-green;
    border-radius: 6px;

    @media (min-width: $tablet-width) {
      width: 8px;
      height: 8px;
      top: 12px;
      left: 13px;
    }
  }
}
