.slider {
  .slider__description {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      padding-right: 120px;
    }
  }

  .slider__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .slider__changes-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      width: auto;
      margin: 0;
    }
  }

  .slider__changes {
    width: 50%;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      width: auto;
      margin-right: 42px;
    }
  }

  .slider__number {
    display: block;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 7px;
  }

  .slider__money {
    text-align: center;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      text-align: right;
      width: 130px;
      margin: 0;
    }
  }

  .slider__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  img {
    display: block;
    margin: 0 auto;
  }


  .slider__item--skinny {
    display: none;
  }

  .slider__buttons {
    text-align: center;
  }
}
