.social {
  .social__list {
    margin: 0;
    padding-left: 73px;
    padding-right: 79px;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
    align-items: center;

    @media (min-width: $tablet-width) {
      padding: 0;
      width: 130px;
    }
  }

  .social__link {
    display: block;
  }
}
